body { 
  background: pink; 
} 

h1 {
  color: white;  
    text-align: center;  
    font-size: 80px; 
} 

h3 { 
  color: black; 
    text-align: center; 
  font-size: 25px; 
} 

h2 { 
  color: white 
    text-align: center; 
  font-size: 50; 
} 

h4 { 
  color: pink
    text-align: center; 
  font-size: 50px;
} 

h5 { 
  color: black;
    text-align: left; 
  font-size: 25; 
} 
  

/*-----------------------------Nav Bar--------------------------------*/
body { 
  margin : 0; 
  font-family: Times New Roman, Nelvetica, sans-serif; 
} 

ul { 
  list-style-type: none; 
  margin: 0; 
    padding: 0; 
  overflow: hidden; 
  background-color: white;
} 

li { 
  float: left; 
  
}

li a { 
  display: block; 
  color: black; 
  text-align: center; 
  padding: 14px 16px;
  text-decoration: none; 
  
  li a: hover:not (.active) { 
    background-color: #pink
      
      .ative { 
        background-color: #black
          
    } 
  



Resources
